<div class="stolen-frosty span6 offset3 text-center">

	<h1 class="stolen-h1">Buffalo City Limits Band Website </h1>

	<h2>
		Coming soon!
	</h2>



<div id="wufoo-z13xkg7p064za2z">
Fill out my <a href="https://mmainier.wufoo.com/forms/z13xkg7p064za2z">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var z13xkg7p064za2z;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mmainier',
'formHash':'z13xkg7p064za2z',
'autoResize':true,
'height':'340',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z13xkg7p064za2z = new WufooForm();z13xkg7p064za2z.initialize(options);z13xkg7p064za2z.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
</div>